body{
    background-color: rgb(55, 107, 155);
}

input{
    margin-top:100px;
    margin-left:450px;
    position:block;
}

ul{
    margin-top:30px;
    margin-left:475px;
    position:block;
}
li{
    padding:5px
}
