body{
    background-color: rgb(55, 107, 155);
}

input{
    margin-top:100px;
    margin-left:450px;
    position:block;
}

ul{
    margin-top:30px;
    margin-left:475px;
    position:block;
}
li{
    padding:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
button{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.507);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1.0), 1px 1px 5px rgba(0, 0, 0, 1.0) ;
    position: relative;
    left:5px;
}
